.btn{
    padding: 5px 15px;
    color: whitesmoke;
    max-width: 150px;
    background-color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius:  4px; 
    border: none;
    margin: 5px 15px;
    cursor: pointer;
  }
  
  .btn:hover {
    font-weight: 600;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0, 2px, whitesmoke;
    
  }
  .danger{
    color: rgb(216, 8, 95);
  }
  .alert {
    color:palevioletred;
  }
