
.App {
  text-align: center;
  background-image: url(../public/htmlFondo.jpg);
  flex: content;
  flex-direction: row;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.p-card {
  overflow: hidden;
}